<ion-navbar *navbar>
    <ion-title>
        ScoutBot Settings
    </ion-title>
</ion-navbar>

<ion-content class="settings">
    <ion-card>
        <ion-card-header>
            General
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Is master</ion-label>
                <ion-toggle [(ngModel)]="isMaster" (change)="updateStorage('isMaster')"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Scout name</ion-label>
                <ion-input type="text" placeholder="John Doe" [(ngModel)]="scout" (change)="updateStorage('scout')"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Color / Number</ion-label>
                <ion-select [(ngModel)]="colorNumber" (change)="updateStorage('colorNumber')">
                    <ion-option value="Red 1">Red 1</ion-option>
                    <ion-option value="Red 2">Red 2</ion-option>
                    <ion-option value="Red 3">Red 3</ion-option>
                    <ion-option value="Blue 1">Blue 1</ion-option>
                    <ion-option value="Blue 2">Blue 2</ion-option>
                    <ion-option value="Blue 3">Blue 3</ion-option>
                </ion-select>
            </ion-item>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            Import
        </ion-card-header>
        <ion-card-content>
            <button id="addChangeEvent" secondary (click)="askForEventCode()">Add event</button>
            <button *ngIf="teamsLoaded" danger (click)="removeEventCode()">Remove event</button>
            <table id="eventInfo">
                <tr *ngFor="let team of allTeams">
                    <td>{{ team.number}}</td>
                    <td><a href="{{ team.website }}">{{ team.name }}</a></td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card>
</ion-content>
