[darkscheme] ~ ion-content.new-pit-scout {
    background: #222;
    color: #eee;
    ion-card, ion-card-content, ion-card-header, ion-item {
        background: #333;
        color: #eee;
    }
}

.new-pit-scout {

}
