<ion-navbar *navbar>
    <ion-title>
        {{ colorNumber }} - {{ scout }}
    </ion-title>
</ion-navbar>

<ion-toolbar>
    <ion-segment [(ngModel)]="gameMode">
        <ion-segment-button value="pre">
            Pregame
        </ion-segment-button>
        <ion-segment-button value="during">
            During
        </ion-segment-button>
        <ion-segment-button value="post">
            Post
        </ion-segment-button>
    </ion-segment>
</ion-toolbar>

<ion-content class="new-game">

    <div [ngSwitch]="gameMode">
        <div *ngSwitchWhen="'pre'">
            <ion-card>
                <ion-card-header>
                    General
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <ion-label>Team number</ion-label>
                        <ion-input type="number" placeholder="e.x. 2976" min="1" max="9999" [(ngModel)]="teamNumber" (change)="changeTeamName()"></ion-input>
                    </ion-item>
                    <span [innerHTML]="teamName"></span>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    Fouls
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <ion-label>Foul / Yellow/Red card</ion-label>
                        <ion-checkbox [(ngModel)]="foul"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Dead bot</ion-label>
                        <ion-checkbox [(ngModel)]="deadBot"></ion-checkbox>
                    </ion-item>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    Defenses Against
                </ion-card-header>
                <ion-card-content>
                    <ion-list radio-group *ngFor="let defenseGroup of [{letter:'a',op1:'Portcullis',op2:'Cheval de Frise'},{letter:'b',op1:'Moat',op2:'Ramparts'},{letter:'c',op1:'Drawbridge',op2:'Sally Port'},{letter:'d',op1:'Rock Wall',op2:'Rough Terrain'}]" [(ngModel)]="defenses[defenseGroup.letter].name">
                        <ion-list-header>
                            Defense {{ defenseGroup.letter.toUpperCase() }}
                        </ion-list-header>
                        <ion-item>
                            <ion-label>{{ defenseGroup.op1 }}</ion-label>
                            <ion-radio value="{{ defenseGroup.op1 }}"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>{{ defenseGroup.op2 }}</ion-label>
                            <ion-radio value="{{ defenseGroup.op2 }}"></ion-radio>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </div>

        <div *ngSwitchWhen="'during'">
            <ion-card>
                <ion-card-header>
                    Autonomous Defenses
                </ion-card-header>
                <ion-card-content>
                    <ion-list radio-group [(ngModel)]="autonomousDefense">
                        <ion-list-header>
                            Defense attempted?
                        </ion-list-header>
                        <ion-item *ngFor="let groupLetter of ['a','b','c','d','e']">
                            <ion-label>({{ groupLetter.toUpperCase() }}) {{ defenses[groupLetter].name }}</ion-label>
                            <ion-radio value="{{ groupLetter.toUpperCase() }}"></ion-radio>
                        </ion-item>
                        <ion-item>
                            <ion-label>None</ion-label>
                            <ion-radio value="N"></ion-radio>
                        </ion-item>
                    </ion-list>

                    <ion-item>
                        <ion-label>Successful</ion-label>
                        <ion-checkbox [(ngModel)]="autonomousSuccessful" [disabled]="autonomousDefense === 'N'"></ion-checkbox>
                    </ion-item>
                </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-card-header>
                    Autonomous Shooting
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <ion-label>Ball grabbed</ion-label>
                        <ion-checkbox [(ngModel)]="ballGrabbed"></ion-checkbox>
                    </ion-item>
                </ion-card-content>
            </ion-card>

            <ion-card *ngFor="let groupLetter of ['a','b','c','d']">
                <ion-card-header>
                    Teleop {{ defenses[groupLetter].name }}
                </ion-card-header>
                <ion-card-content>
                    Makes:
                    <button danger (click)="decrementDefense(groupLetter,'makes')">-</button>
                    {{ defenses[groupLetter].makes }}
                    <button primary (click)="incrementDefense(groupLetter,'makes')">+</button>
                    <br>
                    Misses:
                    <button danger (click)="decrementDefense(groupLetter,'misses')">-</button>
                    {{ defenses[groupLetter].misses }}
                    <button primary (click)="incrementDefense(groupLetter,'misses')">+</button>
                </ion-card-content>
            </ion-card>
        </div>

        <div *ngSwitchWhen="'post'">
            <ion-card>
                <ion-card-header>
                    Endgame
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <ion-label>Challenged tower</ion-label>
                        <ion-checkbox [(ngModel)]="endgame.challengedTower"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Scaled</ion-label>
                        <ion-checkbox [(ngModel)]="endgame.scaled"></ion-checkbox>
                    </ion-item>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    Roles
                </ion-card-header>
                <ion-card-content>
                    <ion-item>
                        <ion-label>High shooting</ion-label>
                        <ion-checkbox [(ngModel)]="roles.highShooting"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Low shooting</ion-label>
                        <ion-checkbox [(ngModel)]="roles.lowShooting"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Breaching</ion-label>
                        <ion-checkbox [(ngModel)]="roles.breaching"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label>Defending</ion-label>
                        <ion-checkbox [(ngModel)]="roles.defending"></ion-checkbox>
                    </ion-item>
                </ion-card-content>
            </ion-card>
            <ion-card>
                <ion-card-header>
                    QR Code
                </ion-card-header>
                <ion-card-content>
                    <button secondary (click)="makeQR()">Make QR</button>
                    <!-- TODO: add an errors div here -->
                    <canvas id="qrCode">

                    </canvas>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

</ion-content>
