<ion-navbar *navbar>
    <ion-title text-center>
        ScoutBot
    </ion-title>
</ion-navbar>

<ion-content class="home">
    <button (click)="makeNewGame()">
        <ion-icon name="add"></ion-icon>
        New
    </button>
    <button (click)="makeNewPitScout()" *ngIf="includePitScouting">
        <ion-icon name="add-circle"></ion-icon>
        Pit Scout
    </button>
    <button (click)="scanQR()" *ngIf="isMaster">
        <ion-icon name="camera"></ion-icon>
        Decode
    </button>
    <button light (click)="goToSavedCodes()">
        <ion-icon name="clipboard"></ion-icon>
        Saved QRs
    </button>
    <button light (click)="goToScannedCodes()" *ngIf="isMaster">
        <ion-icon name="archive"></ion-icon>
        Scanned QRs
    </button>
    <button dark (click)="goToSettings()">
        <ion-icon name="settings"></ion-icon>
        Settings
    </button>
</ion-content>
