[darkscheme] ~ ion-content.home {
    background: #000;
    color: #eee;
    button {
        color: #000;
    }
    button[dark] {
        background: map-get($colors, secondary);
    }
}

.home {
    text-align: center;
    button {
        width: 50%;
        margin-top: 25px;
        $padding-vertical: 22px;
        padding-top: $padding-vertical;
        padding-bottom: $padding-vertical;
    }
}
